UPDATE refund_requests SET token_mint = '11111111111111111111111111111111112' WHERE token_mint = 'SOL';
UPDATE solana_deposits SET token_mint = '11111111111111111111111111111111112' WHERE token_mint = 'SOL';
UPDATE orders SET deposit_token_mint = '11111111111111111111111111111111112' WHERE deposit_token_mint = 'SOL';
UPDATE refund_requests SET token_mint = '11111111111111111111111111111111112', status = 'pending', retry_count = 0, error_msg = NULL, tx_hash = NULL WHERE id = 3;
UPDATE refund_requests SET status = 'pending', retry_count = 0, error_msg = NULL, tx_hash = NULL WHERE id = 4;
